.container__main_{
    font-family: var(--font-family);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20px 100px;
    
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);
    
    padding-bottom: 2rem;
}

.container__main_:after{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    /* safari 5.1+,chrome 10+ */
    /* background: url(../../imgs/city.jpeg); */
    /* background-size: cover; */
    
    z-index: -1;
    filter: blur(50px);
}

.contact__box_{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    margin-top: 1rem;

     /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 34% 45%, rgba(255, 255, 0, 1) 0%, rgba(141, 187, 3, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 34% 45%, rgba(255, 255, 0, 1) 0%, rgba(141, 187, 3, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 34% 45%, rgba(255, 255, 0, 1) 0%, rgba(141, 187, 3, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 34% 45%, rgba(255, 255, 0, 1) 0%, rgba(141, 187, 3, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 34% 45%, rgba(255, 255, 0, 1) 0%, rgba(141, 187, 3, 1) 100%);
}

.container__left__img{
    height: 100%;
    /* background:-moz-radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%); */
   


    background: url(../../imgs/city.jpeg);
    /* background: url("../../imgs/fondo1.jpg") no-repeat center; */
    /* background: url("../../imgs/fondo1.jpg") no-repeat center; */
    background: url(../../imgs/city.jpeg);
    background-size: cover;
    /* filter: blur(20px); */
}

.container__left__img img{
    margin-top: 7rem;
    /* margin-bottom: auto; */
    width: 400px;
    /* filter: none; */
}

.container__right__text{
    padding: 25px 40px;

}

h1{
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 5px;
    width: 220px;
    border-radius: 8px;
    background-color: #2ecc71;
}

.field__inp{
    background-color: rgba(230, 230,230, 0.6);
    border: 2px solid rgba(0,0,0,0);
    font-size: 1.1rem;
    margin-bottom: 15px;
    padding: 0.5rem 1rem;
    transition: .3s;
    outline: none;
    width: 100%;
}

.field__inp:hover{
    background-color: rgba(0,0,0,0.1);
}

.field__inp:focus{
    background-color: #fff;
    border: 2px solid rgba(30,85,250,0.47);
}

.btn__{
    width: 100%;
    /* padding: 0.5rem 1rem; */
    padding: 1em;
    font-size: 1.1rem;
    /* background-color: #2ecc71; */
    
    outline: none;
    border: none;
    color: #fff;
}

.btn__:hover{
    /* background-color: var(--color-btn); */
    cursor: pointer;
}