.mian_container{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);
      
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, rgba(116, 207, 2, 1) 0%, rgba(0, 188, 212, 1) 89%);

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.container__btns{
    /* display: flex; */
    margin-left: 8em;
    /* justify-items: center; */
    margin-top: 2em;
}

.btns_w{
    display: flex;
    
}

.container__1_header{
    display: flex;
    padding-top: 1rem;
}

.container__1_header h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    color: #40576d;
}

.container_c{
    /* height: 100vh; */
    /* width: 100vw; */
    /* max-height: 800px; */
    max-width: 1280px;
    min-height: 600px;
    min-width: 1000px;
    /* display: flex; */
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    /* margin-left: 20px; */
    /* moving the cargs */
    margin-top: 3rem;
}

.cards{
    

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1.5rem;

    /* padding-left: 5rem; */
    /* margin-left: .5rem; */
}

.reload__btn{
    font-family: var(--font-family);
    font-weight: 750;
    padding: 0em 1.5em;
    color: var(--color-footer);
    /* color: var(--color-footer); */
    /* background-color: #40576d; */
    background-color: rgba(250, 254, 255, 0.26);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    /* cursor: e-resize; */
    cursor: progress;
}

.container__main_p{
    display: flex;
    justify-content: center;
    /* justify-self: center; */
    /* align-items: center; */
    /* align-content: center; */
}

.pages__container{
    margin-top: 3rem;
    margin-bottom: 4rem;  
    /* justify-self: center; */
}